Source: gnome-shell-classic-systray
Section: utils
Priority: optional
Maintainer: Roberto C. Morano <rcmorano@emergya.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/gnome-shell-classic-systray
Vcs-Browser: http://codebrowse.launchpad.net/~rcmorano/gnome-shell-classic-systray/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/gnome-shell-classic-systray/trunk


Package: gnome-shell-classic-systray
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-shell
Description: extension that moves old tray icons from message bar to tray bar.
 Provides an "old-skool" gnome2 way of showing application's tray icons.
